/*
 * @Author: xiaozhi
 * @Date: 2019-10-11 11:37:15
 * @LastEditors: zouzheng
 * @LastEditTime: 2019-10-25 19:09:17
 * @Description: 这是 设置浏览器默认样式
 */

@charset "utf-8";
html,
body {
  height: 100%;
}

body {
  font-size: 14px;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

/* 去掉列表前的标识，li 会继承 */

ol,
ul {
  list-style: none;
}

img,
button,
input,
select,
textarea {
  border: none;
  outline: none;
}

/* 默认不显示下划线，保持页面简洁 */

a {
  color: #555;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/*滚动条的宽度*/

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/*外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果*/

::-webkit-scrollbar-track {
  width: 5px;
  background-color: #e8e8e8;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

/*滚动条的设置*/

::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

/*滚动条移上去的背景*/

::-webkit-scrollbar-thumb:hover {
  background-color: #b3b3b3;
}
